@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="space-y-6">
    <h3>Most used masters</h3>

    <div class="grid grid-cols-3 gap-6">
        <a href="practitioner.html" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#doctors"></use>
                </svg>
                <strong class="font-medium">Doctors master</strong>
            </span>

            <strong class="font-semibold">2597</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#document-text"></use>
                </svg>
                <strong class="font-medium">Document library</strong>
            </span>

            <strong class="font-semibold">899</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#wheel"></use>
                </svg>
                <strong class="font-medium">Drive</strong>
            </span>

            <strong class="font-semibold">1228</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#holiday"></use>
                </svg>
                <strong class="font-medium">Holidays</strong>
            </span>

            <strong class="font-semibold">6689</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#teams"></use>
                </svg>
                <strong class="font-medium">Teams</strong>
            </span>

            <strong class="font-semibold">589</strong>
        </a>
    </div>

    <hr class="my-6 border-body/20 border-t">

    <div class="grid grid-cols-3 gap-6">
        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#measure"></use>
                </svg>
                <strong class="font-medium">Measure</strong>
            </span>

            <strong class="font-semibold">559</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#routes"></use>
                </svg>
                <strong class="font-medium">Routes</strong>
            </span>

            <strong class="font-semibold">121</strong>
        </a>

        <a href="#" class="flex items-center justify-between space-x-4 p-4 text-sm text-body bg-white rounded-md shadow no-underline hover:translate-y-1 hover:shadow-lg transition-all duration-300 will-change-transform">
            <span class="flex items-center space-x-2 no-underline">
                <svg class="w-4 h-4 svg-stroke text-accent">
                    <use href="img/s-spr.svg#currency-dollar"></use>
                </svg>
                <strong class="font-medium">Sales state</strong>
            </span>

            <strong class="font-semibold">821</strong>
        </a>
    </div>
</div>