@using DataPlusWeb.Client.Provider;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;
@inject AuthenticationStateProvider authStateProvider
@inherits LayoutComponentBase;
@inject ILocalStorageService localStorageService

<div id="container" class="container px-0 flex mx-auto bg-accent-dark">
     <AuthorizeView Roles="Admin">
        <NavMenu />
     </AuthorizeView>    

    <main class="main">
        <div class="flex justify-between space-x-6">
            <p>Welcome <strong class="font-semibold">Mr.Bruce</strong></p>
            <div class="relative">
                <AuthorizeView>
                    <Authorized>
                        <a @onclick="Logout" href="/">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <hr class="mt-3 mb-6 border-body/20 border-t">

        <div class="space-y-6">
            @Body
        </div>
    </main>
</div>

@code {
    private async void Logout()
    {
        await localStorageService.RemoveItemAsync("UserData");
        var cs = (PersistentAuthenticationStateProvider)authStateProvider;
        cs.NotifyAuthenticationState();
    }
}