@inherits LayoutComponentBase

<div id="container" class="container px-0 flex mx-auto bg-accent-dark">
    <NavMenu />
    <main class="main overflow-hidden">
        <Header />
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
